@import '../../../styles/colors';

.nav {
  width: 100%;
  display: flex;
  align-items: center;

  .logo {
    float: left;

    img {
      width: 7rem;
      height: 100%;
    }
  }

  .navMenu {
    margin-left: auto;
  }
}
