@import '../../../styles/colors';

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navLinks {
    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
      cursor: pointer;
      color: black;
    }

    .dropdown {
      margin-bottom: 0.7rem;
    }
  }
}
