/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
@import './colors';

body {
  margin: 0;
  background-color: $color-background;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

// reset stuff
.ant-card-body {
  padding: 0.5rem 1rem;
}
