@import '../../styles/_colors.scss';

.layout {
  min-height: 100vh;
  background-color: transparent;

  header {
    background-color: white;
    border-bottom: 1px solid $color-border;
  }

  main {
    height: 100%;
    padding: 50px;
  }

  footer {
    background-color: white;
    border-top: 1px solid $color-border;
  }
}
